.cfpg-light-progressbar-outerbar {
  background-color: whitesmoke;
}

.cfpg-light-progressbar-innerbar {
  background-color: #2d63fd;
  transition: width 1s, height 1s;
}

.cfpg-dark-progressbar-outerbar {
  background-color: grey;
}

.cfpg-dark-progressbar-innerbar {
  background-color: whitesmoke;
  transition: width 1s, height 1s;
}
